<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<div class="container">
    欢迎来到这里
</div>
</body>
</html>